@import url('https://db.onlinewebfonts.com/c/0592f6e0b3f76f95980144203bec8b1f?family=FSP+DEMO+-+Articulat+CF+Heavy');
@import url('https://use.typekit.net/ded1ugk.css');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Plus+Jakarta+Sans:wght@400;800&&display=swap');
@import url('https://fonts.cdnfonts.com/css/maginia');
@import url('https://fonts.cdnfonts.com/css/gangitem');

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --header-color: #fff;
}

body {
  font-family: 'articulat-cf', 'SUIT-Regular', articulat-cf, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  color: #fff;
  background-color: #000;
}

.antic_didone {
  font-family: 'Antic Didone', serif;
}

.maginia {
  font-family: 'Maginia', sans-serif;
}

.plus_jakarta_sans {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.gangitem {
  font-family: 'Gangitem', sans-serif;
}

div {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
em {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000;
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  line-height: 1;
}

button {
  cursor: pointer;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.page-transition {
  display: flex;
  position: fixed;
  z-index: 99999;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  /* pointer-events: none; */

  background: #fff;
  justify-content: center;
  align-items: center;
}

.page-transtion__bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.page-transition__text-wrap {
  width: 100vw;
  overflow: hidden;
  height: 440px;
  position: relative;
}

.page-transition__text-item {
  position: absolute;
  white-space: nowrap;
  height: 200px;
}

.page-transition__text01 {
  top: 0;
  left: -100%;
}

.page-transition__text02 {
  bottom: 0;
  right: -100%;
  text-align: right;
}

.page-transition__text-item span {
  color: white;
  font-size: 200px;
  font-weight: 800;
  letter-spacing: -0.01em;
  position: absolute;
  z-index: 3;
  font-style: normal;
}

.page-transition__text02 span {
  font-weight: 600;
  right: 0;
}

.page-transition__text-black {
  mix-blend-mode: difference;
  color: #000;
}
.page-transition__text-white {
  color: #fff;
  mix-blend-mode: color;
}
.page-transition__text-overlay {
  mix-blend-mode: color-dodge;
  color: #fff;
}

.page-transition__flowline {
  color: #fff;
  font-size: 400px;
  font-weight: 800;
  text-align: center;
  z-index: 3;
  display: none;
}

/*
header
*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  height: 84px;
  background-color: #000;
}

.header__aligner {
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  right: 0;
  margin: 0 72px;
}
.header__aligner:not(.header__aligner--no-line)::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #faf9f7;
  position: absolute;
  left: 0;
  top: 84px;
  right: 0;
  z-index: 2;
}

.header__align {
  height: 100%;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.header--black #logo {
  background-image: url('/flowline/assets/logo--black.svg');
}

.header--black .header-button__burger {
  background-color: #151515;
}

.header--black .navigation__item {
  color: #151515;
}

.header--black .header__aligner::before {
  background-color: #151515;
}

#logo {
  background: url('/flowline/assets/logo.svg') no-repeat;
  display: inline-block;
  height: 28px;
  width: 152px;
  position: absolute;
  top: 28px;
}

.header-button__trigger {
  height: 17px;
  position: absolute;
  right: 23px;
  top: 23px;
  width: 40px;
  z-index: 1000;
}

.header-button__burger {
  background-color: #faf9f7;
  display: block;
  position: absolute;
  height: 1.2px;
  left: 50%;
  top: 50%;
  text-indent: -9999px;
  width: 40px;
}

.header-button__burger--top {
  -webkit-transform: matrix(1, 0, 0, 1, -20, -8);
  transform: matrix(1, 0, 0, 1, -20, -8);
  transition: all 0.3s ease;
}
.header-button__burger--middle {
  -webkit-transform: matrix(1, 0, 0, 1, -20, 0);
  transform: matrix(1, 0, 0, 1, -20, 0);
  transition: all 0.3s ease;
}
.header-button__burger--bottom {
  -webkit-transform: matrix(1, 0, 0, 1, -8, 7);
  transform: matrix(1, 0, 0, 1, -8, 7);
  width: 28px;
  transition: all 0.3s ease;
}

.header--open .header-button__burger--top {
  -webkit-transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, -12, 0);
  transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, -12, 0);
  width: 24px;
}

.header--open .header-button__burger--middle {
  opacity: 0;
}

.header--open .header-button__burger--bottom {
  -webkit-transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, -12, 0);
  transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, -12, 0);
  width: 24px;
}

.header--open .header__align {
  height: 880px;
  /* background-color: #fff; */
}

.header--open .navigation {
  opacity: 1;
  visibility: visible;
}

.header--open .header_bg {
  display: block;
}

.navigation {
  padding-top: 132px;
  text-align: right;
  display: flex;
  justify-content: end;
  opacity: 0;
  visibility: hidden;
}

.navigation__item {
  font-size: 120px;
  color: #fff;
  position: relative;
}
.navigation__link {
  padding: 0 40px;
}

.navigation__link:last-child {
  padding-right: 0;
}
.navigation__item::after {
  content: '';
  display: inline-block;
  height: 8px;
  background-color: #9a7c63;
  width: 0;
  left: 0;
  position: absolute;
  bottom: 0;
  transition: all ease-in-out 0.3s;
}
.navigation__link--active .navigation__item {
  color: #9a7c63;
  font-weight: bold;
  position: relative;
}

.navigation__link--active .navigation__item::after {
  width: 100%;
}

.header_bg {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  right: 0;
  margin: 0 -72px;
  z-index: -1;
  height: 880px;

  background: #000 url('/flowline/assets/header_bg1.png') no-repeat center
    bottom / cover;

  display: none;
  transition: all ease 0.3s;
}
.navigation__link--active .navigation__text {
  display: block;
}

.header_bg-1 {
  background-color: #000;
  background-image: url('/flowline/assets/header_bg1.png');
}

.header_bg-2 {
  background-color: #fff;
  background-image: url('/flowline/assets/header_bg2.png');
}

.header_bg-3 {
  background-color: #000;
  background-image: url('/flowline/assets/header_bg3.png');
}

.navigation__text {
  position: absolute;
  left: 0;
  bottom: 50px;
  color: #faf9f7;
  width: 672px;
  display: none;
  text-align: left;
  line-height: 1.34;
  font-size: 25px;
}

#logo h1 {
  text-indent: -9999px;
}
.main {
  padding-top: 84px;
}
/* index */

.section__inner {
  padding: 0 72px;
}

.info {
  min-height: 924px;
}

.section__inner--info {
  padding-top: 72px;
}

.tit__wrap {
  display: flex;
  align-items: center;
  position: absolute;
  top: 345px;
}
.tit__wrap .tit__item {
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.01em;
  list-style: none;
  margin-right: 133px;
  position: relative;
}

.tit__wrap .tit__item::after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 7px;
  background-color: #9a7c63;
}
.tit__wrap .tit__item + .tit__item {
  margin-right: 173px;
}
.tit__wrap .tit__item:last-child {
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-transform: lowercase;
  margin-right: 0;
}
.tit__wrap .tit__item:last-child::after {
  display: none;
}

.typography__wrap {
  position: relative;
}

.typography__item {
  font-size: 158px;
  font-weight: 500;
  line-height: 158px;
  text-align: right;
  position: absolute;
}

.typography__item.typography1 {
  top: 0;
  right: 93px;
}

.typography__item.typography2 {
  top: 158px;
  right: 8px;
}

.typography__item.typography3 {
  top: 316px;
  right: 0;
}

.typography__item.typography4 {
  top: 458px;
  right: 526px;
}

.typography__item.typography5 {
  top: 616px;
  right: 178px;
}

.what_we_do__aligner {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.what_we_do__title {
  font-size: 20px;
  margin-top: 72px;
}

.what_we_do__list {
  margin-top: 64px;
}

.what_web_do__item {
  margin-top: 50px;
  font-size: 42px;
  font-weight: 700;
}

.what_web_do__item:first-child {
  margin-top: 0;
}

.what_we_do__images {
  position: relative;
  margin-bottom: 224px;
}

.what_we_do__image02 {
  position: absolute;
  left: 350px;
  top: 394px;
}

.what_we_do__images-wrap {
  display: flex;
}

.what_we_do__works {
  font-size: 42px;
  font-weight: 700;
  display: block;
  font-style: normal;
  margin-bottom: 15px;
}

.what_we_do__detail {
  font-size: 24px;
}
.what_we_do__align {
  display: flex;
  align-items: center;
}

.what_we_do__link-area {
  background: rgba(29, 29, 29, 0.5);
  backdrop-filter: blur(20px);
  width: 403px;
  padding: 72px 0 0 50px;
  min-width: 353px;
  position: relative;
}
.what_we_do__link {
  color: #faf9f7;
}

.what_we_do__link:hover .what_we_do__arrow-line {
  width: 90px;
}

.what_we_do__arrow {
  background: url('/flowline/assets/home_arrow.svg') right no-repeat;
  display: inline-flex;
  align-items: center;
  padding-right: 4px;
  height: 16px;
  margin-left: 16px;
  position: relative;
}

.what_we_do__arrow-line {
  height: 2px;
  display: inline-block;
  background-color: #faf9f7;
  width: 72px;
  transition: all linear 0.3s;
}

.portfolio {
  position: relative;
}

.portfolio__title {
  color: #9a7c63;
  font-size: 312px;
  font-weight: 700;
  line-height: 281px;
}

.portfolio__sm {
  position: absolute;
  color: #adcae4;
  font-size: 40px;
  font-weight: 800;
}

.portfolio__sm-tit01 {
  top: 197px;
  left: 709px;
}
.portfolio__sm-tit02 {
  display: inline-block;
  text-indent: -9999px;
  width: 169px;
  height: 40px;
  background: url('/flowline/assets/home_portfolio-text.png') no-repeat;
  top: 376px;
  right: 373px;
}

/* portfolio__carousel swiper custom */
.portfolio__carousel {
  margin-right: -72px;
  position: relative;
}
.portfolio__carousel .swiper {
  height: 980px;
}
.portfolio__carousel .swiper-slide {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 770px;
  position: relative;
}

.portfolio-slide {
  width: 100%;
  height: 100%;
}

.portfolio__carousel .swiper-slide .portfolio-slide::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(29, 29, 29, 0.3);
  backdrop-filter: blur(6px);
  opacity: 0;
  transition: all ease 0.3s;
}
.portfolio-slide__info {
  position: relative;
  z-index: 1;
  color: #fff;
  transition: all ease-in-out 0.3s;
  padding: 32px 0 0 32px;
}

.portfolio__carousel .swiper-slide:hover .portfolio-slide__info {
  color: #9a7c63;
}

.portfolio__carousel .swiper-slide:hover .portfolio-slide::after {
  /* opacity: 1; */
}

.portfolio__carousel__arrows {
  position: absolute;
  top: -120px;
  width: 220px;
  height: 80px;
  right: 72px;
}

.portfolio__carousel__arrows .swiper-button-next,
.portfolio__carousel__arrows .swiper-button-prev {
  width: 80px;
  height: 80px;
}
.portfolio__carousel__arrows .swiper-button-next::after,
.portfolio__carousel__arrows .swiper-button-prev::after {
  content: '';
  background: url('/flowline/assets/icon_prev.svg') no-repeat;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.portfolio__carousel__arrows .swiper-button-next::after {
  transform: rotate(-180deg);
}
.portfolio-slide__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: -0.015em;
  margin-bottom: 2px;
}
.portfolio-slide__desc {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.015em;
}

.portfolio-slide img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}

.about_us {
  position: relative;
  color: #9a7c63;
  background: #fff url('/flowline/assets/home_bg4.svg') bottom left no-repeat;
}

.about_us::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 45px;
  width: 465px;
  height: 220px;
  right: 0;
  background: url('/flowline/assets/home_bg5.svg');
}

.about_us__title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 43px;
  margin-top: 40px;
  width: 100%;
}
.about_us__title::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #9a7c63;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.about_us__title em {
  background-color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: -0.015em;
  text-align: center;
  padding: 0 32px;

  position: relative;
  z-index: 1;
}

.about_us__heading {
  margin-top: 20px;
  font-size: 96px;
  line-height: 104px;
  text-align: center;
}

.about_us__desc {
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
  line-height: 1.65;
  margin-bottom: 70px;
}

.about_us__text-wrap__heading {
  font-size: 32px;
  line-height: 1.09;
  margin-bottom: 16px;
  font-weight: normal;
}

.about_us__text-wrap__desc {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6;
}

.about_us__test-align {
  display: flex;
  justify-content: space-between;
  margin: 0 249px 0 278px;
  padding-bottom: 214px;
}
.about_us__text01 {
  max-width: 471px;
}

.about_us__text02 {
  margin-top: 89px;
  max-width: 482px;
}

.flowline__bg {
  background: #151515 url('/flowline/assets/bg_typo_extra_fixed.png') center
    no-repeat;
  height: 558px;

  background-attachment: fixed;
}

.footer {
  color: #9a7c63;
  padding-bottom: 80px;
}

.footer__align {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17.6px;
}

.footer__contact_us {
  margin-bottom: 90px;
}

.footer__contact_us__heading {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

.footer__contact_us__mail {
  color: #9a7c63;
  font-size: 19px;
  font-weight: 500;
  line-height: 25px;
}

.footer__contact_us__address {
  font-size: 19px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 40px;
}

.footer__contact_us__sns-wrap {
  display: flex;
  flex-direction: column;
}
.footer__contact_us__sns {
  color: #9a7c63;
  font-size: 16px;
  line-height: 1;
  text-decoration: underline;
  text-decoration-color: #9a7c63;
}

.footer__contact_link {
  color: #9a7c63;
  font-size: 40px;
  font-weight: 800;
  line-height: 52px;
  text-decoration: underline;
  text-decoration-color: #9a7c63;
  position: relative;
}

.footer__contact_link::after {
  content: '';
  display: inline-block;
  width: 48px;
  height: 48px;
  background: url('/flowline/assets/footer__cursor.svg') no-repeat;
  position: absolute;
  right: -22px;
  top: 29px;
}

.footer__contact_us__sns + .footer__contact_us__sns {
  margin-top: 14px;
}

.footer__right {
  position: relative;
}

.footer__right__heading {
  font-size: 110px;
  font-weight: 400;
  line-height: 121px;
  text-align: right;
  margin-bottom: 48px;
}

.say_hi {
  background-color: #9a7c63;
  width: 215px;
  height: 215px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
  color: #151515;
  position: absolute;
  left: -215px;
  top: 145px;
  transform: rotate(-19.36deg);

  animation: rotate 2s linear infinite;
}

.say_hi:hover {
  animation-play-state: paused;
}

.footer__copyright {
  display: flex;
  justify-content: flex-end;
}

.footer__copyright__text {
  font-size: 20px;
  font-weight: 700;
  margin-right: auto;
}

.footer__copyright__policy {
  color: #9a7c63;
  font-size: 20px;
}

.footer__copyright__policy em {
  font-weight: 700;
}

.footer__copyright__policy + .footer__copyright__policy {
  margin-left: 28px;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#workSwiper {
  width: 100%;
  position: relative;
}
#workSwiper .swiper-slide.first-slide {
  width: 510px !important;
  margin-left: 72px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 48px;
  border-right: none;
  border-left: none;
}
#workSwiper .swiper-slide.last-slide {
  margin-right: 144px;

  border: none;
}
.work__heading {
  font-size: 86px;
  font-weight: 400;
  line-height: 1;
}

#workSwiper::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 72px;
  transition: width 1.05s cubic-bezier(0.19, 1, 0.22, 1);
}

#workSwiper.active::after {
  width: 100%;
}
#workSwiper .swiper-slide {
  width: 896px;
  border: 1px solid #fff;
  border-right: none;
  border-bottom: 0;
  height: calc(100vh - 84px - 146px);
  padding: 40px 0 0 36px;
}
#workSwiper .swiper-slide:last-child {
  margin-right: 72px;
}
.work-swiper__align {
  display: flex;
  justify-content: space-around;
}

.work-swiper__type--web {
  background-color: #9a7c63;
  color: #fff;
}
.work-swiper__type--app {
  background-color: #adcae4;
  color: #151515;
}
.work-swiper__type--e-commerce {
  background-color: #436249;
  color: #ffffff;
}
.work-swiper__type--system {
  background-color: #c68c79;
  color: #151515;
}

#workSwiper .swiper-slide-active:not(.first-slide) {
  border-color: transparent;
}
#workSwiper .swiper-slide-active:not(.first-slide) + .swiper-slide {
  border-left-color: transparent;
}

.swiper-slide-active.swiper-slide--web {
  background-color: #9a7c63;
  color: #fff;
}

.swiper-slide-active.swiper-slide--web .work-swiper__type {
  background-color: #9a7c63;
  color: #fff;
  border: 1px solid #fff;
}

.swiper-slide-active.swiper-slide--app,
.swiper-slide-active.swiper-slide--app .work-swiper__heading {
  background-color: #adcae4;
  color: #151515;
  text-decoration-color: #151515;
}

.swiper-slide-active.swiper-slide--app .work-swiper__type {
  background-color: #adcae4;
  color: #151515;
  border: 1px solid #151515;
}
.swiper-slide-active.swiper-slide--e-commerce {
  background-color: #436249;
  color: #fff;
}
.swiper-slide-active.swiper-slide--e-commerce .work-swiper__type {
  background-color: #436249;
  color: #fff;
  border: 1px solid #fff;
}

.swiper-slide-active.swiper-slide--system,
.swiper-slide-active.swiper-slide--system .work-swiper__heading {
  background-color: #c68c79;
  color: #151515;
  text-decoration-color: #151515;
}

.swiper-slide-active.swiper-slide--system .work-swiper__type {
  background-color: #c68c79;
  color: #151515;
  border: 1px solid #151515;
}

.work-swiper__type {
  border-radius: 100px;
  padding: 7px 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 13px;
  display: inline-block;
}

.work-swiper__heading {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 41.6px;
  text-decoration: underline;
  text-decoration-color: #fff;
  margin-bottom: 24px;
}
.work-swiper__date {
  font-size: 17px;
  font-weight: 700;
}
.work-swiper__desc {
  margin-top: 72px;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: left;
}

.work-swiper__desc + .work-swiper__desc {
  margin-top: 32px;
}

.work-swiper__text-area {
  max-width: 300px;
}

.work-swiper__image-area {
}

.work-swiper__image-area img {
  max-width: 100%;
}
.work__nav {
  margin-left: 72px;
  margin-top: 32px;
}
.work__nav-button {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
}
.work__nav-button--active {
  font-weight: 700;
  text-decoration: underline;
}
.work__nav-button + .work__nav-button {
  margin-left: 24px;
}
